.container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 1rem;
    gap: 1rem;
}

.header {
    width: 100%;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.right-area {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.button-spinner {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-top: 3px solid var(--primary-color);
    border-radius: 50%;
    width: 32px;
    height: 32px;
    animation: spin 0.8s linear infinite;
}

.span-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 0.5rem;
    padding: 0.5rem;
    background-color: var(--primary-color);
    color: var(--white-button-text);
    font-weight: 500;
}

.avatar-wrapper {
    width: 48px;
    height: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: var(--stroke-color);
    overflow: hidden;
}

.profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.content {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.resume-lastest-note {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.manage-spaces {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.link-area {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.link-style {
    text-decoration: underline;
    padding: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    background-color: transparent;
    border: none;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.link-style:hover {
    background-color: var(--stroke-color);
    color: var(--primary-text-color);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}