<div class="container">
    <div class="header">
        <h2>Home</h2>
        <div class="right-area">
            <div *ngIf="isLoading()" class="button-spinner"></div>

            <ng-container *ngIf="userData()">
                <p>Olá, {{ userData()?.name }}</p>
                <div class="avatar-wrapper">
                    <img *ngIf="userData()?.profileImage; else defaultIcon" [src]="getProfileImageUrl()"
                        alt="Profile Image" class="profile-image" />
                    <ng-template #defaultIcon>
                        <i class="material-icons-outlined">person</i>
                    </ng-template>
                </div>
            </ng-container>
        </div>
    </div>
    <div class="content">
        <div class="resume-lastest-note">
            <h3>Continue de onde parou</h3>

            <div class="latest-note-card">
                <div class="latest-note-card-icon">
                    <i class="material-icons-outlined icon">edit</i>
                </div>
                <div class="latest-note-card-content">
                    <h4>Nome da Nota</h4>
                    <p>Descrição da nota</p>
                </div>
            </div>
        </div>
        <app-manage-spaces [spaces]="spaces()"></app-manage-spaces>
    </div>
    <app-floating-action-button link="/main/nova-nota"></app-floating-action-button>
</div>