.icon-button-back {
    background: none;
    border: none;
    padding: 0.5rem; 
    margin: 0;
    
    border-radius: 100%;
    font-size: 1.5rem;
    line-height: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-text-color);
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    
    cursor: pointer; 
    user-select: none;
}

.icon-button-back .material-icons-outlined {
    font-size: 1.5rem;
}

.icon-button-back:hover {
    background-color: var(--stroke-color);
    color: var(--primary-text-color);
}