<div class="container">
  <form [formGroup]="form" (ngSubmit)="saveNote()" class="container">
    <input
      type="text"
      placeholder="Título da Nota"
      class="note-title"
      formControlName="title"
      [ngClass]="{ 'shake input-error': title?.invalid && title?.touched }"
    />

    <textarea
      placeholder="Corpo da Nota"
      class="note-content"
      formControlName="content"
      [ngClass]="{ 'shake input-error': content?.invalid && content?.touched }"
    ></textarea>

    <div class="footer-actions">
      <button class="select-space-card" type="button" (click)="openModal()">
        <p>{{ confirmedSpace() || "Selecionar Espaço" }}</p>
        <i class="material-icons-outlined chevron-icon">chevron_right</i>
      </button>
      <div class="actions-card">
        <button class="actions-button" type="submit">
          <i class="material-icons-outlined action-icon">save</i>
        </button>
        <button class="actions-button" type="button">
          <i class="material-icons-outlined action-icon">close</i>
        </button>
      </div>
    </div>
  </form>

  <app-modal-layout
    [title]="'Selecionar Espaço'"
    [description]="'Selecione o espaço onde deseja salvar a nota:'"
    [isOpen]="isModalOpen()"
    (closeRequest)="closeModal()"
  >
    <form [formGroup]="optionGroup">
      @for (option of spaceOptions(); track option.id) {
      <div class="radio-button-item">
        <input
          type="radio"
          [id]="option.id"
          name="space"
          [value]="option.label"
          formControlName="space"
          class="radio-input"
        />
        <label [for]="option.id" class="radio-label">
          <span class="custom-radio"></span>
          {{ option.label }}
        </label>
      </div>

      @if (!$last) {
      <app-divider></app-divider>
      } } @empty {
      <p>Loading spaces...</p>
      }
    </form>
    <app-custom-button
      [type]="CustomButtonType.DEFAULT"
      [disabled]="false"
      (click)="confirmSelection()"
    >
      Escolher Espaço
    </app-custom-button>
  </app-modal-layout>
</div>
